<div style="display:flex;justify-content:space-around;width:100%;float:left;margin:20px 0;">
  <%nclass = @order_by == "created_at" ? "tab_menu_selected" : "tab_menu"%>
  <%=link_to "最新", "/works", :remote=>true, class:nclass %>
  <%hclass = @order_by == "vote_numbers" ? "tab_menu_selected" : "tab_menu"%>
  <%=link_to "最热", "/works?order=vote_numbers", :remote=>true, class:hclass %>
</div>

<div class="wcpc_content">
  <%2.times do |i|%>
    <div id="works<%=i+1%>" style="width:50%;float:left;">
      <%=render :partial=>"work_item", locals:{i: i, page:@current_page.to_s}%>
    </div>
  <%end%>
  <div id="refresh_outer" style="float:left;width:100%;text-align:center;">
    下面还有哦
    <%=link_to "点击刷新", "/works?order=#{@order_by}&page=#{(@current_page+1).to_s}", :remote=>true, :id=>"refresh", style:"color:gray;display:none;" %>
  </div>

</div>
