<div style="width:50%;float:left;margin-top:20px;">
  <div id="newest" class="tab_menu" <%if @order_by == "created_at"%>style="background-color:#006934"<%end%>>
    <%link_color = @order_by == "created_at" ? "#f3d4a1" : "black"%>
    <%=link_to "最新", "/works", :remote=>true, style:"color:#{link_color};" %>
  </div>
</div>
<div style="width:50%;float:left;margin-top:20px;">
  <div id="hotest" class="tab_menu" <%if @order_by == "vote_numbers"%>style="background-color:#006934"<%end%>>
    <%link_color = @order_by == "vote_numbers" ? "#f3d4a1" : "black"%>
    <%=link_to "最热", "/works?order=vote_numbers", :remote=>true, style:"color:#{link_color};" %>
  </div>
</div>

<div class="wcpc_content">
  <%2.times do |i|%>
    <div id="works<%=i+1%>" style="width:50%;float:left;">
      <%=render :partial=>"work_item", locals:{i: i, page:@current_page.to_s}%>
    </div>
  <%end%>
  <div id="refresh_outer" style="float:left;width:100%;text-align:center;">
    下面还有哦
    <%=link_to "点击刷新", "/works?order=#{@order_by}&page=#{(@current_page+1).to_s}", :remote=>true, :id=>"refresh", style:"color:gray;display:none;" %>
  </div>

</div>
