<% links=["$.ajax({url:'#{new_activity_photograph_path(@activity)}',dataType:'script'});", "/review"]%>
<article class="weui-article main">
  <div class="swiper-container" >
    <section class="swiper-wrapper">
        <p class="photo_item swiper-slide">
          <%=image_tag "poster1.jpg", id:"poster1"%>
          <%=link_to new_activity_photograph_path(@activity), style:'position:absolute;bottom:60px;left: 50%; margin-left: -45px; width: 90px;display:inline-block;border:2px solid #006934;text-align:center;' do %>
            <span  style="color:#90633c;padding:5px 0;">我要参赛</span>
          <%end%>
        </p>
        <p class="photo_item swiper-slide">
          <%=image_tag "poster2.jpg", id:"poster2" %>
          <%=link_to "/review", style:'position:absolute;top:170px;left: 50%; margin-left: -45px; width: 90px;display:inline-block;border:2px solid #006934;text-align:center;' do %>
            <span   style="color:#90633c;padding:5px 0;">了解详情</span>
          <%end%>
        </p>
        <p class="photo_item swiper-slide">
          <%=image_tag "poster3.jpg", id:"poster3" %>
        </p>
    </section>


    <div class="swiper-pagination"></div>
  </div>
</article>
