<% links=["$.ajax({url:'#{new_activity_photograph_path(@activity)}',dataType:'script'});", "/review"]%>
<article class="weui-article main">
  <div class="swiper-container" >
    <section class="swiper-wrapper">
      <%3.times do |index|%>
      <p class="photo_item swiper-slide">
        <% if index <2 %>
          <%=image_tag "poster"+(index+1).to_s+".jpg", id:"poster"+(index+1).to_s, usemap:"#Map"+(index+1).to_s%>
          <map name="Map<%=(index+1).to_s%>" id="Map<%=(index+1).to_s%>">
            <% if index == 0 %>
              <area id="area1" shape="rect" coords="0,0,0,0" onclick="<%=links[index]%>" href="#" />
            <%else%>
              <area id="area<%=(index+1).to_s%>" shape="rect" coords="0,0,0,0" href="<%=links[index]%>" />
            <%end%>
          </map>
        <%else%>
          <%=image_tag "poster"+(index+1).to_s+".jpg"%>
        <%end%>
      </p>
      <%end%>
    </section>
   <div class="swiper-pagination"></div>

  </div>
</article>
