<%avatar_url = @current_wechat_user.avatar.present? ? @current_wechat_user.avatar : ""%>
<div id="cover" style="width:100%;background-image:url(<%=image_url 'cover.jpg'%>);background-repeat: no-repeat;background-size:100%;">
  <table id="cover_table" style="width:100%;padding-top:450px;">
    <tr>
      <td align="center">
        <div style="width:80px;height:80px;padding:10px;background-color:white;" class="round">
          <%=image_tag avatar_url, width:80, height:80, align:"right", class:"round" %>
        </div>
      </td>
    </tr>
  </table>
</div>
  <center style="margin-top:60px;"><span style="margin:30px;"><%=@current_wechat_user.nickname%></span></center>
  <div style="width:50%;float:left;margin-top:20px;">
    <div id="my_work" style="border-bottom:solid 2px black;padding:5px;text-align:center;">
      我的作品
    </div>
  </div>
  <div style="width:50%;float:left;margin-top:20px;">
    <div id="my_card" style="border-bottom:solid 1px black;padding:5px;text-align:center;">
      我的卡券
    </div>
  </div>
  <div id="works" style="width:100%;float:left;">
    <%if @photograph.present? %>
      <% @photograph.photos.each do |photo|%>
        <article class="weui-article" style="padding:5px;">
          <section>
            <%= image_tag photo.photo.url%>
          </section>
          <div class="weui-btn-area">
            <%=link_to "修改作品", user_edit_activity_photograph_path(@activity, @photograph), remote:true, class:"weui-btn weui-btn_primary", style:"color:#f3d4a1;"%>
          </div>
        </article>
      <%end%>
    <%else%>
      暂无作品
    <%end%>
  </div>
  <div id="cards" style="width:100%;float:left;display:none;">
    <%if @photograph.present? && @card.present? %>
      <div style="width:100%;background-color:#e8e8e8;">
        <div style="width:100%;background-color:#016934;color:#f5d09d;height:150px;float:left;">
          <div style="width:100%;text-align:center;margin:20px 0;"><span style="font-weight:bold;font-size:2em;"><%=@card.name%></span></div>
          <div style="width:100%;text-align:center"><span><%=@card.duration%></span></div>
        </div>
        <div style="width:100%;height:35px;background-image:url(<%=image_url 'wave.jpg'%>);background-repeat: repeat-x;float:left;">
          &nbsp;
        </div>
        <div style="width:100%;background-color:white;color:gray;height:80px;float:left;margin-bottom:10px;">
          <span><%=@card.origin%></span>
        </div>
        <div class="weui-btn-area">
          <%=link_to "进入商城", @card.outer_url, class:"weui-btn weui-btn_primary", style:"color:#f3d4a1;"%>
        </div>
      </div>
    <%else%>
      暂无卡券
    <%end%>
  </div>
