<article class="weui-article" style="padding:5px;">
  <img src="" class="wx-share">
  <section>
    <% @photograph.photos.each do |photo|%>
      <div class="photo_item" <% if photo.id != @photograph.photos.first.id%>style="display:none;"<%end%>>
        <%= image_tag photo.photo.url%>
      </div>
    <%end%>
  </section>

      <%= link_to vote_activity_photograph_path(@activity,@photograph), remote:true do%>
        <div align="center" style="width:50%;background-color:#006934;color:white;padding:10px 0;float:left;">
          <%=fa_icon "heart-o", text:"投票", style:"color:white;"%>
        </div>
      <%end%>
      <div id="share_time_line" align="center" style="width:50%;background-color:#f3d4a1;color:white;padding:10px 0;float:left;">
        <%=fa_icon "thumbs-o-up", text:"为TA加油", style:"color:white;"%>
      </div>

  <section>
      <div class="weui-media-box__bd" style="padding:20px;">
        <%avatar_url = @photograph.user.avatar.present? ? @photograph.user.avatar : ""%>
        <%=image_tag avatar_url, width:80, height:80, align:"right", style:"border-radius:50%;" %>
        <%=fa_icon "heart-o", style:"color:#006934;"%>
        <span id="votes<%= @photograph.id%>"><%=@photograph.vote_numbers.to_i%></span>
        <h1>#<%=@photograph.name%></h1>
        <h2 style="color:gray;"><%=@photograph.intro%></h2>
      </div>
  </section>
</article>

<script>
  $(function(){
    $("#share_time_line").on('click', function(){
      alert("点击 页面右上角“...”，邀请好友助力，禾你一起宠爱萌宝睡照。");
      WeixinJSBridge.invoke('shareTimeline');
    });

    <% if flash[:notice].present? && flash[:notice] == "create photograph" %>
      $(".weui-dialog__bd").html("上传成功，您获得了一张<%=Card.first.name%>，请到我的优惠券查看！")
      $('#iosDialog2').fadeIn(200);
    <%end%>
  });
</script>
