<%=render :partial=>"works_top"%>
<div class="weui-grids" style="background-color:#F8B62D;">
  <table style="width:100%;color:#40220F;">
    <tr><td colspan=3>&nbsp;</td></tr>
    <tr>
      <td align="center" style="border-right:solid 1px #40220F;">
        <table>
          <tr><td align="center">参与选手</td></tr>
          <tr><td align="center"><%=@activity.photographs.size%></td></tr>
        </table>
      </td>
      <td align="center" style="border-right:solid 1px #40220F;">
        <table>
          <tr><td align="center">累计投票</td></tr>
          <tr><td align="center"><%=@activity.vote_numbers%></td></tr>
        </table>
      </td>
      <td align="center">
        <table>
          <tr><td align="center">累计浏览</td></tr>
          <tr><td align="center"><%=@activity.traffic.to_i%></td></tr>
        </table>
      </td>
    </tr>
    <tr><td colspan=3>&nbsp;</td></tr>
  </table>
</div>

<%=render :partial=>"count_down"%>

<table class="activity_info" width="100%">
  <tr><td><%=fa_icon "clock-o", text:@activity.duration %></tr>
  <tr>
    <td>
      <%=link_to intro_path, remote:true do%>
        <%=fa_icon "file-text-o", text:"活动介绍" %>
      <%end%>
    </td>
  </tr>
  <tr>
    <td>
      <%=link_to ranking_path, remote:true do%>
        <%=fa_icon "navicon", text:"投票排名" %>
      <%end%>
    </td>
  </tr>
</table>
<div id="work_list">
  <%=render :partial=>"works"%>
</div>
<script>
  $(function(){
    setInterval(function(){ShowCountDown(<%=@activity.terminate_time.year%>,<%=@activity.terminate_time.month%>,<%=@activity.terminate_time.day%>);}, 1000);
    $(".weui-tab__panel").scroll(function(){
      var viewH =$(this).height();//可见高度
      var contentH =$(this).get(0).scrollHeight;//内容高度
      var scrollTop =$(this).scrollTop();//滚动高度
      if(scrollTop/(contentH -viewH)>=0.90){
        if($("#refresh").length>0){
          $("#refresh").click();
        }
      }
    });
  });
</script>
