<div class="weui-grids">
  <p class="weui-grid__label">总投票数：<%=@activity.vote_numbers%></p>
  <p class="weui-grid__label">总浏览量：<%=@activity.traffic.to_i%></p>
</div>
<div class="weui-btn-area">
  <%=link_to "我要参加", new_activity_photograph_path(@activity), class:"weui-btn weui-btn_primary"%>
</div>

<div id="searchBar" class="weui-search-bar">
  <form class="weui-search-bar__form">
    <div class="weui-search-bar__box">
      <i class="weui-icon-search"></i>
      <input id="searchInput" class="weui-search-bar__input" placeholder="搜索" required="" type="search">
      <a id="searchClear" class="weui-icon-clear" href="javascript:"></a>
    </div>
    <label id="searchText" class="weui-search-bar__label">
      <i class="weui-icon-search"></i>
      <span>搜索</span>
    </label>
  </form>
  <a id="searchCancel" class="weui-search-bar__cancel-btn" href="javascript:">取消</a>
</div>

<div class="row">
  <%@photographs.each do |photograph|%>
    <article class="weui-article">
      <h1><%=photograph.name%></h1>
      <section>
        <h2 class="title">当前票数:<span id="votes<%= photograph.id%>"><%=photograph.vote_numbers.to_i%></span></h2>
        <%=link_to "/show/#{photograph.id}" do %>
          <%=image_tag photograph.cover_url %>
        <%end%>
      </section>
    </article>
    <div class="weui-btn-area">
      <%=link_to "投票", vote_activity_photograph_path(@activity,photograph), remote:true, class:"weui-btn weui-btn_primary" %>
    </div>
  <%end%>
  <%= will_paginate @photographs %>
</div>
