<div class="container">
  <div class="row">
    <div>
      <h6>微信会员</h6>
      <table class="table">
        <tbody>
          <thead>
            <tr>
              <th>头像</th>
              <th>微信名</th>
              <th>性别</th>
              <th>国家</th>
              <th>省份</th>
              <th>城市</th>
              <th>电话</th>
              <th></th>
            </tr>
          </thead>
          <% @users.each do |user| %>
            <tr>
              <td><%=image_tag( user.avatar, width:40, height:40) if user.avatar %></td>
              <td><%= user.nickname %></td>
              <td><%= user.gender==0 ? "-" : (user.gender==1 ? "男" : "女") %></td>
              <td><%= user.country %></td>
              <td><%= user.province %></td>
              <td><%= user.city %></td>
              <td><%= user.try(:phone) %></td>
              <td><%= link_to "删除", user_path(user), method: 'delete' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= will_paginate @users %>
