<div id="cover" style="width:100%;">
  <%=image_tag "cover.jpg", style:"width:100%;" %>
</div>
<center>
  <%=link_to nil, href:"#", onclick:"$('#photograph_photos_attributes_0_photo').click();" do %>
    <div style="background-color:#006934;color:#f3d4a1;margin:15px 0;padding:10px 0;width:90%;text-align:center;">
      <h4>上传图片</h4>
    </div>
  <% end %>
<div style="width:90%;">
  <%form_action =@photograph.persisted? ? "user_update" : "create"%>
  <%= form_for(@photograph, url: {:action=>form_action}, remote:true ) do |f| %>
    <div style="color:#006934;font-size:0.7em;">标*为必填项</div>
    <div class="weui-cell <%if @photograph.errors.include?(:photos)%>weui-cell_warn<%end%>">
      <div class="weui-cell__hd">
        <div style="float:left;padding-right:10px;">*</div>
        <%= f.label :photo, class:"weui-label", style:"text-align:left;float:left;" %>
      </div>
    </div>
    <div class="weui-cell <%if @photograph.errors.include?(:photos)%>weui-cell_warn<%end%>">
      <div id="photos_div" class="weui-cell__bd">
        <%= f.fields_for :photos do |photos_form| %>
          <div id="wrapper_div<%=photos_form.index%>" class="wrapper_div">
            <div id="photodiv<%=photos_form.index%>" class="weui-uploader__file" style="display:none;">
              <%=link_to nil, href:"#", onclick:"delete_photo(#{photos_form.index});" do %>
                <i class="weui-icon-cancel" style="margin-left: 50px;"></i>
              <% end %>
              <div style="margin-top:-25px;float:left;">
                <%=image_tag "pic_160.png", id:"photo#{photos_form.index}", width:"80", height:"80"%>
              </div>
            </div>
            <div id="uploaddiv<%=photos_form.index%>" class="weui-uploader__input-box" <% if photos_form.index > 0 %> style="display:none;"<%end%>>
              <%= photos_form.file_field :photo, class:"weui-uploader__input", onchange:"preview_photo(this,#{photos_form.index})" %>
            </div>
          </div>
        <% end %>
        <%if @photograph.errors.include?(:photos)%>请上传一张图片，格式为jpg, jpeg, png或gif<%end%>
      </div>
    </div>
    <div class="weui-cells__tips" style="text-align:left;">温馨提示：</br>建议您上传的萌宝照片尺寸不要超过8M，否则可能读取不到照片的参数而造成不能成功上传。</div>

    <div class="weui-cells weui-cells_form">
      <div class="weui-cell <%if @photograph.errors.include?(:name)%>weui-cell_warn<%end%>">
        <div class="weui-cell__hd">
          <div style="float:left;padding-right:10px;">*</div>
          <%= f.label :name, class:"weui-label", style:"text-align:left;" %>
        </div>
      </div>
      <div class="weui-cell <%if @photograph.errors.include?(:name)%>weui-cell_warn<%end%>">
        <div class="weui-cell__bd">
          <%name_ph = @photograph.errors.size > 0 ? @photograph.errors.messages[:name][0] : "限15字符"%>
          <%= f.text_field :name, class:"weui-input", placeholder: name_ph, required: true%>
        </div>
      </div>
      <div id="name_rest" class="weui-cells__tips" style="text-align:left;">（剩余15字符）</div>
      <div class="weui-cell <%if @photograph.errors.include?(:intro)%>weui-cell_warn<%end%>">
        <div class="weui-cell__hd">
          <%= f.label :intro, class:"weui-label", style:"text-align:left;" %>
        </div>
      </div>
      <div class="weui-cell <%if @photograph.errors.include?(:intro)%>weui-cell_warn<%end%>">
        <div class="weui-cell__bd">
          <%intro_ph = @photograph.errors.size > 0 ? @photograph.errors.messages[:intro][0] : "限60字符"%>
          <%= f.text_area :intro, class:"weui-textarea", placeholder:intro_ph, rows:"5" %>
        </div>
      </div>
      <div id="intro_rest" class="weui-cells__tips" style="text-align:left;">（剩余60字符）</div>
      <%= f.fields_for :user do |user_form| %>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <div style="float:left;padding-right:10px;">*</div>
            <%= user_form.label :name, class:"weui-label", style:"text-align:left;" %>
          </div>
        </div>
        <div class="weui-cell">
          <div id="user_div" class="weui-cell__bd">
            <div class="weui-cell__bd">
              <%= user_form.text_field :name, class:"weui-input", placeholder:"请输入姓名", required: true%>
            </div>
          </div>
        </div>

        <div class="weui-cell">
          <div class="weui-cell__hd">
            <div style="float:left;padding-right:10px;">*</div>
            <%= user_form.label :phone, class:"weui-label", style:"text-align:left;" %>
          </div>
        </div>
        <div class="weui-cell">
          <div id="user_div" class="weui-cell__bd">
            <div class="weui-cell__bd">
              <%= user_form.text_field :phone, class:"weui-input", type:"tel", placeholder:"请输入手机号", required: true%>
            </div>
          </div>
        </div>
        <div id="intro_rest" class="weui-cells__tips" style="text-align:left;font-size:0.7em;">填写姓名和电话便于后期获奖通知</div>
      <% end %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :activity_id %>

      <div class="weui-btn-area">
        <%= f.submit "确定发布", class:"weui-btn weui-btn_primary" %>
      </div>
      <p>&nbsp;</p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  <% end %>
</div>
</center>
<script>
$(document).ready(function(){
  $("#photograph_name").on('change', function(){
    refresh_rest("photograph_name", "name_rest", 15)
  });

  $("#photograph_intro").on('change', function(){
    refresh_rest("photograph_intro", "intro_rest", 60)
  });
  // 手机号码验证
  jQuery.validator.addMethod("isMobile", function(value, element) {
  var length = value.length;
  var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
  return this.optional(element) || (length == 11 && mobile.test(value));
  }, "请正确填写您的手机号码");

  $("#new_photograph").validate({
      rules:{
        'photograph[name]':{
          required: true,
          rangelength:[2,15]
        },
        'photograph[intro]':{
          required: false,
          rangelength:[2,60]
        },
        'photograph[user_attributes][name]':{
            required:true,
        },
        'photograph[user_attributes][phone]':{
            required:true,
            isMobile: true
        }
      },
      messages : {
        'photograph[name]' : {
            required : "作品名称别忘了填",
            rangelength : "名称需要2-15位字符"
        },
        'photograph[intro]':{
          rangelength:"介绍文字需要2-60位字符"
        },
        'photograph[user_attributes][name]':{
            required:"请留下您的姓名哦",
        },
        'photograph[user_attributes][phone]' : {
            required : "需要您的联系方式哦",
            minlength : "电话号码需要11位哦"
        }
      }

    })
})
</script>
