<div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>作品名称</td>
      </tr>
      <tr>
        <td><%= @photograph.name %></td>
      </tr>
      <tr>
        <td>作者</td>
      </tr>
      <tr>
        <td><%= @photograph.user.name %></td>
      </tr>
      <tr>
        <td>当前票数</td>
      </tr>
      <tr>
        <td><%= @photograph.vote_numbers.to_i %></td>
      </tr>
      <tr>
        <td>作品简介</td>
      </tr>
      <tr>
        <td><%= @photograph.intro %></td>
      </tr>
      <tr>
        <td>拉票宣言</td>
      </tr>
      <tr>
        <td><%=@photograph.manifesto %></td>
      </tr>
      <tr>
        <td>作品展示</td>
      </tr>
      <tr>
        <td>
          <% @photograph.photos.each do |photo|%>
            <p><%= image_tag photo.photo.url%></p>
          <%end%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
