<% if params[:action] != "subscribe" %>
  <div class="weui-tabbar">
    <%=link_to "/index" do %>
      <div align="center" class="<%if params[:controller] == 'visitors' && params[:action] == 'index'%>footer_on home_on<%else%>footer_off home_off<%end%>">
        <div class="footer_text">首页</div>
      </div>
    <%end%>
    <%=link_to "/works" do %>
      <div align="center" class="<%if params[:controller] == 'visitors' &&  params[:action] == 'works'%>footer_on work_on<%else%>footer_off work_off<%end%>">
        <div class="footer_text">作品</div>
      </div>
    <%end%>
    <%=link_to new_activity_photograph_path(@activity), remote:true do %>
      <div align="center" class="<%if params[:controller] == 'photographs' &&  params[:action] == 'new'%>footer_on upload_on<%else%>footer_off upload_off<%end%>">
        <div class="footer_text">上传</div>
      </div>
    <%end%>
    <%=link_to "/review" do %>
      <div align="center" class="<%if params[:controller] == 'visitors' &&  params[:action] == 'review'%>footer_on back_on<%else%>footer_off back_off<%end%>">
        <div class="footer_text">追溯</div>
      </div>
    <%end%>
    <%=link_to "/my_account" do %>
      <div align="center" class="<%if params[:controller] == 'visitors' &&  params[:action] == 'my_account'%>footer_on account_on<%else%>footer_off account_off<%end%>">
        <div class="footer_text">我的</div>
      </div>
    <%end%>
  </div>
<%end%>
